# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Cache and temp files
*.log
*.tmp

# Scratchpad files
scratchpad/
impl.md
plan.md
prompt.md
.venv

# packages
packages/flow-rs/target
packages/flow-rs/Cargo.lock
packages/flow-ts/dist
packages/flow-ts/node_modules
packages/flow-ts/package-lock.json
